<div class="hero-unit">
  <h1>Billy's Lunch Tracker 3000</h1>
  <p>Tracks your lunch and then it tracks it again when you enter another lunch!</p>
  <p>
    <%= link_to "Done eating fatty? Add your lunch", new_lunch_path, :class => "btn btn-primary btn-large" %>
  </p>
</div>

